html,
body {
  padding: 0;
  font-family: Heebo, sans-serif;
  margin-bottom: 100px;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  right: 50px;
}

header a {
  position: relative;
  top: 30px;
  text-decoration: none;
  color: #21243d;
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}
header .fa-solid {
  display: none;
}
.featured-works-title
{
    font-size: 44px;
    font-weight: bold;
    margin-top: 160px;
    margin-left: 235px;
    color: #21243d;
    margin-bottom: 0;
}
.featured-works-container
{
  display: grid;
  grid-template-columns: 250px 500px;
  margin-left:235px ;
  margin-top: 30px;
}
.dashboard-image img{
  height:180px ;
  width: 246px;
}
.dashboard-container
{
  margin-left: 20px;
}
.dashboard-title
{
  font-size: 30px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 0;
}
.dashboard-year
{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.dashboard-2020
{
  height: 25px;
  width: 62px;
  border-radius: 16px;
  background-color: #142850;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 15px;
}
.dashboard{
  color: #8695A4;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 15px;
}
.dashboard-content
{
  font-size: 16px;
  color: #21243d;
  width: 420px;
  margin-top: 5px;
  margin-bottom: 0;
}
.featured-works-title-1
{
    font-size: 44px;
    font-weight: bold;
    margin-top: 160px;
    margin-left: 235px;
    color: #21243d;
    margin-bottom: 0;
}
.featured-works-container-1
{
  display: grid;
  grid-template-columns: 250px 500px;
  margin-left:235px ;
  margin-top: 30px;
}
.dashboard-image-1 img{
  height:180px ;
  width: 246px;
}
.dashboard-container-1
{
  margin-left: 20px;
}
.dashboard-title-1
{
  font-size: 30px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 0;
}
.dashboard-year-1
{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.dashboard-2020-1
{
  height: 25px;
  width: 62px;
  border-radius: 16px;
  background-color: #142850;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  margin-top: 15px;
}
.dashboard-1{
  color: #8695A4;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 15px;
}
.dashboard-content-1
{
  font-size: 16px;
  color: #21243d;
  width: 420px;
  margin-top: 5px;
  margin-bottom: 0;
}
hr{
  width: 65%;
  margin-left:235px ;
  color: #e0e0e0;
  margin-top: 30px;
}
.line-2
{
  display: none;
}
.featured-works-container-2
{
  display: none;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-top: 120px;
  margin-left: 500px;
}

.footer-copyright p {
  margin-top: 20px;
  font-size: 14px;
  margin-left: 500px;
}

@media screen and (max-width:500px)
{
  body
  {
    margin: 0;
    padding: 0;
    font-family: Heebo,sans-serif;
    margin-bottom: 50px;
  }
  header a{
    display: none;
  }
  header .fa-solid
  {
    display: block;
    font-size: 30px;
    margin-top: 29px;
    position: absolute;
    margin-left: -40px;
  }
  .featured-works-title
{
    font-size: 30px;
    font-weight: bold;
    margin-top: 74px;
    margin-left: 18px;
    color: #21243d;
    margin-bottom: 0;
}
.featured-works-container
{
  display: block;
  margin-left: 0;
}
.featured-works-container-1
{
  display: none;
}
.line-1
{
  display: none;
}
.dashboard-image img{
  height:230px ;
  width: 339px;
  margin-left: 18px;
}
.dashboard-title
{
  font-size: 24px;
  margin-top: 10px;
}
.dashboard{
  color: #8695A4;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 13px;
}
.dashboard-content{
  width: 338px;
  font-size: 16px;
}

.featured-works-container-2
{
  display: block;
  margin-left: 0;
}

.dashboard-image img{
  height:230px ;
  width: 339px;
  margin-left: 18px;
  margin-top: 20px;
}
.dashboard-title
{
  font-size: 24px;
  margin-top: 10px;
}
.dashboard{
  color: #8695A4;
  font-size: 20px;
  margin-left: 26px;
  margin-top: 13px;
}
.dashboard-content{
  width: 338px;
  font-size: 16px;
}
hr
{
  margin-left: 20px;
  margin-top: 20px;
  width: 85%;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 70px;
  margin-left: 75px;
}

.footer-copyright p {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 72px;
}
}